<div class="flex gap-10 p-10 items-center justify-between text-stone-800">
    <div class="flex items-center gap-7">
        <a href="/">
            <img src="https://www.svgrepo.com/show/43204/contacts.svg" class="w-[50px]">
        </a>
        <a href="/">
            <span class="font-bold text-lg">Kezdőlap</span>
        </a>
    </div>
    <a href="#" class="relative">
        <!-- Credit: https://tailwindflex.com/@leon-bachmann/elevated-button -->
        <span class="absolute top-0 left-0 p-4 mt-1 ml-1 h-full w-full rounded bg-stone-800"></span>
        <span class="fold-bold relative inline-block h-full w-full rounded border-2 border-stone-800 bg-green-400 px-3 py-1 text-base font-bold transition duration-100 hover:bg-gray-900 hover:text-green-500">
            + add new
        </span>
    </a>
</div>