<!-- Credit: https://tailwindcomponents.com/components/login-form-with-floating-labels -->
<div class="relative top-20 py-3 sm:max-w-xl sm:mx-auto">
    <div
        class="absolute inset-0 bg-gradient-to-r from-green-400 to-green-600 shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl">
    </div>
    <div class="relative px-4 py-10 bg-stone-800 shadow-lg sm:rounded-3xl sm:p-20">
        <div class="max-w-md mx-auto">
            <div>
                <h1 class="text-2xl font-bold text-green-400">Creating new contact</h1>
            </div>
            <div class="divide-y divide-gray-200">
                <div class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7">
                    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-5">
                        <div class="relative">
                            <input required autocomplete="off" id="name" name="name" formControlName="name" type="text" class="bg-stone-800 border-b-2 border-stone-500 peer placeholder-transparent h-10 w-full text-gray-900 focus:outline-none focus:borer-rose-600" placeholder="Full Name" />
                            <label for="name" class="absolute left-0 -top-3.5 text-gray-400 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-stone-400 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">Full Name</label>
                        </div>
                        <div class="relative">
                            <input required autocomplete="off" id="phone" name="phone" formControlName="phone" type="tel" class="bg-stone-800 border-b-2 border-stone-500 peer placeholder-transparent h-10 w-full text-gray-900 focus:outline-none focus:borer-rose-600" placeholder="Phone Number" />
                            <label for="phone" class="absolute left-0 -top-3.5 text-gray-400 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-stone-400 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">Phone Number</label>
                        </div>
                        <div class="relative rounded-lg">
                            <input required autocomplete="off" id="email" name="email" formControlName="email" type="text" class="bg-stone-800 border-b-2 border-stone-500 peer placeholder-transparent h-10 w-full text-gray-900 focus:outline-none focus:borer-rose-600" placeholder="Email address" />
                            <label for="email" class="absolute left-0 -top-3.5 text-gray-400 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-stone-400 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">Email Address</label>
                        </div>
                        <div class="relative">
                            <button type="submit" class="border-2 border-green-500 text-green-500 drop-shadow rounded-md px-4 py-1 mt-2 hover:text-stone-800 hover:bg-green-500 transition duration-200">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>