<h1>Contacts</h1>

<div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left text-gray-400">
        <thead class="text-xs uppercase bg-gray-700 text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    name
                </th>
                <th scope="col" class="px-6 py-3">
                    phone number
                </th>
                <th scope="col" class="px-6 py-3">
                    e-mail
                </th>
            </tr>
        </thead>
        <tbody>
            @for (contact of contacts; track contact) {
            <tr class="border-b bg-gray-800 border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap text-white">
                    {{ contact.name }}
                </th>
                <td class="px-6 py-4">
                    {{ contact.phone }}
                </td>
                <td class="px-6 py-4">
                    {{ contact.email }}
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>